@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Kanit&display=swap");
:root {
  --treemap-hover-color: #6c9fc6;
}
* {
  padding: 0;
  margin: 0;
}
#treemap {
  font-family: "Dhurjati", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}
#treemap #tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  border: 1px solid black;
  pointer-events: none;
  padding: 0 4px;
  font-size: 1.25rem;
}
#treemap svg {
  margin: 0 32px;
}
#treemap #links-div {
  border-bottom: 0.5px solid black;
}
#treemap .link {
  text-decoration: none;
  padding: 0 4px;
  color: black;
  transition: 400ms;
  position: relative;
  display: inline-block;
  cursor: pointer;

  animation: fade-in 1s;
}
#treemap .link::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  left: 50%;
  bottom: 0;
  background-color: var(--treemap-hover-color);

  transition: 400ms ease-in-out;
}
#treemap .link:hover::after {
  width: 100%;
  left: 0;
}
#treemap .link:hover {
  color: var(--treemap-hover-color);
}
#treemap .link#movies {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#treemap text {
  font-family: "Kanit", sans-serif;
  font-size: 0.8rem;
  fill: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
