@import url("https://fonts.googleapis.com/css2?family=Dhurjati&display=swap");
* {
  padding: 0;
  margin: 0;
}
#treemap {
  font-family: "Dhurjati", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}
#treemap #tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  border: 1px solid black;
  pointer-events: none;
  padding: 0 4px;
  font-size: 1rem;
}
#treemap svg {
  margin: 0 32px;
}
#treemap #links-div {
  font-size: 1.35rem;
}
#treemap .links {
  text-decoration: none;
  padding: 0 4px;
  color: black;
  transition: 600ms;
  position: relative;
  display: inline-block;
}
#treemap .links::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom: 0;
  background-color: #a33e67;

  transition: 600ms ease-in-out;
}
#treemap .links:hover::after {
  width: 100%;
  left: 0;
}
#treemap .links:hover {
  color: #a33e67;
}
#treemap .links#movies {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#treemap text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
