:root {
  --navbar-hover-color: lightgray;
}
nav {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 4px;
  background-color: #191e22;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
nav ul a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  line-height: 2;
  transition: 600ms;
  position: relative;
  display: inline-block;
}
.router-nav-items::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 5px;
  right: 0%;
  bottom: 0;
  background-color: var(--navbar-hover-color);

  transition: 300ms ease-in-out;
}
.router-nav-items:hover::after {
  width: 100%;
  left: 0;
}
.router-nav-items:hover {
  color: var(--navbar-hover-color);
}
